<style>
	.BookUsButtons { max-width: 500px; margin: 40px auto; text-align: center; }
	@media (max-width: 768px) { .BookUsButtons-item { width: 100%; display: block;
	margin: 4px auto; } .BookUsButtons-item a { display: block; } }
</style>
<div class="BookUsButtons list-inline list-unstyled">
	<li class="BookUsButtons-item"><a
			href="/video-gallery"
			class="btn btn-lg btn-brand"
		>More Videos</a></li>
	<li class="BookUsButtons-item"><a
			href="/photo-gallery"
			class="btn btn-lg btn-brand"
		>More Photos</a></li>
</div>
<footer class="GlobalFooter">
	<div class="container text-center">
		<span>VIIIA 2017</span>
	</div>
</footer>